ul, li {
    list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
button {
    cursor: pointer;
}
address {
font-style: normal;
}
body {
font-family: "Roboto", sans-serif;
background-color: #FFFFFF;
color: #434455;
}
.nav-menu:hover {
color: #404bbf;
}
.nav-menu:focus {
color: #404bbf;
}
.menu-link {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.menu-link:hover {
color: #404bbf
}
.menu-link:focus {
color: #404bbf
}
.nav-menu {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.button-order {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background: #4d5ae5;
}
.button-order:hover {
background-color:#404BBF;
}
.button-order:focus {
background-color:#404BBF;
}
.page-benefits {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: #2e2f42;
letter-spacing: 0.02em;
}
.team-box {
background: #f4f4fd;
    padding: 120px 0 120px
}
.teams {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px
}
.page-product {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    text-align: center;
}
.page-portfolio {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
/* ==============Footer============== */
.model-box-footer {
background: #2e2f42;
padding: 100px 0 100px
}
.text-footer {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
.page-webstudio {
color: #f4f4fd;
}
.page-web {
color: #2e2f42;
}
.page-logo:hover {
color: #404bbf
}
.page-logo:focus {
color: #404bbf
}
.page-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 21px; 
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
padding-top: 25.5px;
padding-bottom: 25.5px;
}
.page-logotype {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
line-height: 1.17;
}
.team-box-one {
background-color: #2e2f42;  
}
.page-team {
font-size: 36px;
line-height: 1.11;
align-items: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
display: flex;
flex-direction: column;
margin-bottom: 72px; 
}
.page-proguct {
line-height: 1.5;
letter-spacing: 0.02em;
padding-top: 8px;
padding-bottom: 32px;
padding-left: 68px;
padding-right: 68px;
}
.text-portfolio {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.text-last {
line-height: 1.5;
 letter-spacing: 0.02em;
}
.box-model {
background-color: #FFFFFF
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}
.team-box-one {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 1440px;
    height: 600px;
}
.container {
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.menu-nav {
    display: flex; 
    align-items: center; 
        border-bottom: 1px solid #e7e9fc;
    width: 1158px;
        padding: 24px 0;
}

.nav-list-item {
    align-items: center;
    margin-left: 76px;
    display: flex; 
    margin-right: auto;
}
.menu-links-items:not(:last-child) {
    margin-right: 40px;
}
.nav-list {
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 24px 0 24px
}
.list-child:not(:last-child) {
    margin-right: 40px;
}
.list-child {
    display: flex;
    gap: 40px;
    padding: 24px 0 24px
}
.main-section {
max-width: 1440px;
font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
}
.button-type {
height: 56px;
margin-top: 40px;
margin-left: 210px;
min-width: 169px;
    border: none;
    border-radius: 4px;
}
.benefits-hero {
    justify-content: center;
}
.benefits-list {
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 156px;
    margin-right: 156px;
    gap: 24px; 
}
.team-list {
    max-width: 1440px;
}
.box-models {
    display: flex;
    justify-content: center;
        border-radius: 0px 0px 4px 4px;
}
.box-model:not(:last-child) {
margin-right: 24px;
}
.benefits-text:not(:last-child) {
padding-right: 24px;
}
.text-page {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.text-our {
    display: flex;
    max-width: 1127px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.our-text {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.our-portfolio {
    max-width: 1440px;
}
.our-portfolio:not(:last-child) {
    margin-left: 24px;
}
.footer-title {
    max-width: 1440px;
    height: 316px;
}
.page-logotype {
    align-items: center;
    display: flex;
    padding: 100px 0 100px;
    display: inline-block;
    margin-bottom: 16px;
}
.text-footer {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 156px;
    padding-right: 900px;
}

.portfolio-last {
    padding-top: 120px; padding-bottom: 120px;
}
.page-logo {
    margin-right: 76px
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    width: 1158px;
}
.hero {
    padding: 188px 0
}
.main-section {
    max-width: 496px;
}
.hero-container {
background: #2e2f42;
max-width: 1440px;
display: flex;
}
.benefits-section {
    padding: 120px 0;
}
.page-benefits {
    margin-bottom: 8px;
}
.benefits-text {
width: calc((100% - 72px) / 4); 
}
.box.model {
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 8px
}
.text-our {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px
        column-gap: 24px; 
    row-gap: 48px;
    width: calc((100% - 48px) / 3); 
}

